<div class="age-page">
  <h2>Qual a sua idade?</h2>
  <div class="label-container">
    <label (click)="saveAge($event, '-18')">
      Menos de 18 anos
    </label>
  </div>
  <div class="label-container">
    <label (click)="saveAge($event, '18-28')">
      18-28 anos
    </label>
  </div>
  <div class="label-container">
    <label (click)="saveAge($event, '29-38')">
      29-38 anos
    </label>
  </div>
  <div class="label-container">
    <label (click)="saveAge($event, '39-48')">
      39-48 anos
    </label>
  </div>
  <div class="label-container">
    <label (click)="saveAge($event, '49-58')">
      49-58 anos
    </label>
  </div>
  <div class="label-container">
    <label (click)="saveAge($event, '+58')">
      Mais de 58 anos
    </label>
  </div>
</div>