<footer>
    <h6>Siga a melhor página de quiz do Brasil.</h6>
    <div class="social-media-links">
        <div class="instagram-container">
            <a href="https://www.instagram.com/quizdigital/">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
        <div class="facebook-container">
            <a href="https://www.facebook.com/paginadigitalquiz">
                <i class="bi bi-facebook"></i>
            </a>
        </div>
    </div>
    <p class="copyright-p">&copy; 2022 Digital Quiz Education. All Rights Reserved</p>
</footer>