<div class="vsl-page">
    <div class="hero">
        <h5>Esse aplicativo <span style="color: var(--primary-color); font-weight: bold;">revela sua profissão</span> através de sua personalidade</h5>
        <div class="iframe-container" style="padding:56.25% 0 0 0;position:relative;"><iframe frameborder="0" allowfullscreen src="https://scripts.converteai.net/628e9332-1d2a-4400-bb05-74495149ea84/players/650a4aee3e826400099141b9/embed.html" id="ifr_650a4aee3e826400099141b9" style="position:absolute;top:0;left:0;width:100%;height:100%;" referrerpolicy="origin"></iframe></div>
        <p style="margin-top: 20px;">Assista o vídeo até o final para <span style="color: var(--primary-color); font-weight: bold;">descobrir sua vocação</span> ainda hoje.</p>
        <button class="vsl-button hide" (click)="goToCheckout()">ACESSAR O APLICATIVO!</button>
    </div>
    <div class="page-2-container">
        <div class="depoiments-container">
            <depoiments-component *ngFor="let depoiment of depoiments" [depoiment]="depoiment"></depoiments-component>
        </div>
        <div class="depoiment-form-container">
            <depoiment-form-component></depoiment-form-component>
        </div>
    </div>
</div>