.vsl-page {
    max-width: 891px;
    margin-inline: auto;
}

.hero {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 10px;
}

@media only screen and (min-width: 425px) and (max-width: 600px) {
    .hero {
        padding-inline: 15px;
    }
}


@media only screen and (min-width: 601px) and (max-width: 890px) {
    .hero {
        padding-inline: 30px;
    }
}

@media only screen and (min-width: 891px) {
    .iframe-container {
        padding: 0 !important;
        width: 830px !important;
        height: 466.88px !important;
        margin-inline: auto ;
    }
}

.depoiments-container {
    text-align: left !important;
}

.depoiment-form-container {
    margin-inline: auto;
    width: 95%;
    padding-inline: 5px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.vsl-button {
    margin-inline: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 80%;
    max-width: 22rem;
    height: 62px;
    padding-inline: 28px;
    box-shadow: var(--primary-color) 0px 5px 15px;
}
