<img src="../../../assets/videos/background.gif" alt="gif" class="hero-video">
<div id="page-1" class="cv-page-1-container">
    <div class="cv-page-1">
        <h2>Jogue o jogo da <span class="text-emphasis">{{ pageData.profission }}</span> e faça R$3000,00 todos os meses</h2>
        <p class="congratulations">{{ pageData.congratulations }}</p>
        <div class="arrow-down" (click)="arrowDownClick()">
            <i class="bi bi-arrow-down"></i>
        </div>
    </div>
</div>

<div id="page-2" class="cv-page-2-container hide">
    <div class="cv-page-2">
        <h2 id="copy-2-title"><span class="text-emphasis">{{ pageData.headline }}</span></h2>
        <div class="copy-container">
            <p class="copy-part">{{ newCopy1 === "" ? pageData.copy1 : newCopy1 }}</p>
            <p class="copy-part">{{ pageData.copy2 }}</p>
            <p class="copy-part">{{ pageData.copy3 }}</p>
            <p class="copy-part">{{ pageData.copy4 }}</p>
            <p class="copy-part">{{ pageData.copy5 }}</p>
            <p class="copy-part">{{ pageData.copy6 }}</p>
            <p class="copy-part">{{ pageData.copy7 }}</p>
            <p class="copy-part">{{ pageData.copy8 }}</p>
            <p class="copy-part">{{ pageData.copy9 }}</p>
            <p class="copy-part">{{ pageData.copy10 }}</p>
            <p class="copy-part">{{ pageData.copy11 }}</p>
        </div>
        <div class="treasure-map-container">
            <h3 class="treasure-map-person-name">Rafaela</h3>
            <img class="treasure-map" src="../../../assets/img/map.png" alt="Mapa do tesouro">
        </div>
        <div class="vsl-button-container button-zero" (click)="goToCheckout()">
            <button class="vsl-button">Jogar agora</button>
        </div>
        <div class="about">
            <p class="paragraph-1">EM 2022 AJUDAMOS MAIS DE <span class="text-emphasis">64 MIL PESSOAS</span></p>
            <p class="paragraph-2">Pessoas essas, que chegaram para a gente com todos os tipos de problemas, como:</p>
            <ul class="doubts list-group">
                <li class="list-group-item">Duvidas sobre qual carreira fazer a transição</li>
                <li class="list-group-item">Arrependimento na escolha da profissão</li>
                <li class="list-group-item">Medo de não conseguir se encaixar na nova profissão escolhida</li>
                <li class="list-group-item">Falta de conhecimento sobre as possibilidades de mercado</li>
                <li class="list-group-item">Falta de estimulo para iniciar o processo de mudança</li>
                <li class="list-group-item">Ansiedade em relação as decisões que serão tomadas</li>
                <li class="list-group-item">Preocupação em tomar a decisão errada</li>
                <li class="list-group-item">Confusão sobre as opções e os interesse pessoais</li>
                <li class="list-group-item">Dificuldade em identificar e aprender as habilidades e competências</li>
                <li class="list-group-item">Estresse por não saber qual caminho seguir</li>
            </ul>
        </div>
        <div class="vsl-button-container first-button" (click)="goToCheckout()">
            <button class="vsl-button">Jogar agora</button>
        </div>
        <div class="audios">
            <h2>Depoimentos em áudio</h2>
            <audio [controls]="true">
                <source src="../../../assets/audios/ingrid.mp3" type="audio/mp3">
            </audio>
            <audio [controls]="true">
                <source src="../../../assets/audios/iara.mp3" type="audio/mp3">
            </audio>
            <audio [controls]="true">
                <source src="../../../assets/audios/arthur.mp3" type="audio/mp3">
            </audio>
        </div>
        <div class="depoiments-container">
            <depoiments-component *ngFor="let depoiment of depoiments" [depoiment]="depoiment"></depoiments-component>
        </div>
        <div class="depoiment-form-container">
            <depoiment-form-component></depoiment-form-component>
        </div>
        <div class="faq-container">
            <faq-component></faq-component>
        </div>
        <div class="vsl-button-container last-button" (click)="goToCheckout()">
            <button class="vsl-button">Jogar agora</button>
        </div>
        <div class="still-have-doubts-container">
            <h2 class="still-have-doubts">Ainda tem alguma dúvida se o jogo é para você?</h2>
            <p class="still-have-doubts-p">Caso você ainda esteja com dúvida se o jogo é realmente para você, clique no botão abaixo e leia novamente a história da Rafaela, porém agora com o seu nome no lugar</p>
            <button class="change-history-button" (click)="changeHistoryButton()">Ler Novamente</button>
        </div>
    </div>
</div>
