<img src="../../../assets/videos/background.gif" alt="gif" class="hero-video">
<div id="page-1" class="cv-page-1-container">
    <div class="cv-page-1">
        <h2>Sua profissão digital é:</h2>
        <h2>{{ pageData.profission }}</h2>
        <p>{{ pageData.copy }}</p>
        <div class="arrow-down" (click)="arrowDownClick()">
            <i class="bi bi-arrow-down"></i>
        </div>
    </div>
</div>

<div id="page-2" class="cv-page-2-container hide">
    <div class="cv-page-2">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt dicta quia deserunt ab! Facere accusamus, asperiores dolores placeat repudiandae reprehenderit, corrupti ad magni repellendus ab itaque in deserunt animi earum. Blanditiis laborum odit eum consectetur, suscipit debitis, dolorem adipisci, nisi tempora cupiditate odio exercitationem explicabo. Mollitia nesciunt expedita totam iste velit aperiam officiis! Iusto, voluptatem doloribus! Rem expedita exercitationem magni!</p>
        <div class="about">
            <p class="paragraph-1">EM 2022 AJUDAMOS MAIS DE <span class="text-emphasis">64 MIL PESSOAS</span></p>
            <p class="paragraph-2">Pessoas essas, que chegaram para a gente com todos os tipos de problemas, como:</p>
            <ul class="doubts list-group">
                <li class="list-group-item">Duvidas sobre qual carreira fazer a transição</li>
                <li class="list-group-item">Arrependimento na escolha da profissão</li>
                <li class="list-group-item">Medo de não conseguir se encaixar na nova profissão escolhida</li>
                <li class="list-group-item">Falta de conhecimento sobre as possibilidades de mercado</li>
                <li class="list-group-item">Falta de estimulo para iniciar o processo de mudança</li>
                <li class="list-group-item">Ansiedade em relação as decisões que serão tomadas</li>
                <li class="list-group-item">Preocupação em tomar a decisão errada</li>
                <li class="list-group-item">Confusão sobre as opções e os interesse pessoais</li>
                <li class="list-group-item">Dificuldade em identificar e aprender as habilidades e competências</li>
                <li class="list-group-item">Estresse por não saber qual caminho seguir</li>
            </ul>
        </div>
        <div class="vsl-button-container first-button" (click)="goToCheckout()">
            <button class="vsl-button">Garantir meu acesso</button>
        </div>
        <div class="audios">
            <h2>Depoimentos em áudio</h2>
            <audio [controls]="true">
                <source src="../../../assets/audios/ingrid.mp3" type="audio/mp3">
            </audio>
            <audio [controls]="true">
                <source src="../../../assets/audios/iara.mp3" type="audio/mp3">
            </audio>
            <audio [controls]="true">
                <source src="../../../assets/audios/arthur.mp3" type="audio/mp3">
            </audio>
        </div>
        <div class="depoiment-form-container">
            <depoiment-form-component></depoiment-form-component>
        </div>
        <div class="depoiments-container">
            <depoiments-component *ngFor="let depoiment of depoiments" [depoiment]="depoiment"></depoiments-component>
        </div>
        <div class="faq-container">
            <faq-component></faq-component>
        </div>
        <div class="vsl-button-container last-button" (click)="goToCheckout()">
            <button class="vsl-button">Garantir meu acesso</button>
        </div>
    </div>
</div>
