.premium-modal {
    min-height: 580px;
    width: 90vw;
    max-width: 995px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.modal-header {
    padding-inline: 16px;
    min-height: 98px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-header h4 {
    margin: 0;
}

.img-container {
    max-width: 232px;
    max-height: 232px;
    width: 55%;
    height: 55%;
    margin-block: 30px;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 485px;
    text-align: center;
    padding-inline: 10px;
}

.checkout-button {
    max-width: 240px;
    width: 85%;
    color: white;
    margin-top: 32px;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline: none;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.checkout-button-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.checkout-button-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(247, 70%, 16%) 0%,
            hsl(247, 70%, 32%) 8%,
            hsl(247, 70%, 32%) 92%,
            hsl(247, 70%, 16%) 100%);
}

.checkout-button-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    color: white;
    background: hsl(247, 70%, 62%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.checkout-button:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.checkout-button:hover .checkout-button-front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.checkout-button:active .checkout-button-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.checkout-button:hover .checkout-button-shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.checkout-button:active .checkout-button-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.checkout-button:focus:not(:focus-visible) {
    outline: none;
}