<div *ngIf="profission === 'Gestor de Tráfego'">
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe frameborder="0" allowfullscreen src="https://scripts.converteai.net/08d0c3a9-37b8-47f5-9bb1-d126b6d76fc3/players/64d53946e1c7560009bc7500/embed.html" id="ifr_64d53946e1c7560009bc7500" style="position:absolute;top:0;left:0;width:100%;height:100%;" referrerpolicy="origin"></iframe></div>
</div>
<div *ngIf="profission === 'Social Media'">
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe frameborder="0" allowfullscreen src="https://scripts.converteai.net/08d0c3a9-37b8-47f5-9bb1-d126b6d76fc3/players/64d539267b941e0009cadba3/embed.html" id="ifr_64d539267b941e0009cadba3" style="position:absolute;top:0;left:0;width:100%;height:100%;" referrerpolicy="origin"></iframe></div>
</div>
<div *ngIf="profission === 'Influencer'">
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe frameborder="0" allowfullscreen src="https://scripts.converteai.net/08d0c3a9-37b8-47f5-9bb1-d126b6d76fc3/players/64d538dee1c7560009bc74fe/embed.html" id="ifr_64d538dee1c7560009bc74fe" style="position:absolute;top:0;left:0;width:100%;height:100%;" referrerpolicy="origin"></iframe></div>
</div>