<h2 class="faq-title">FAQ - Perguntas frequentes</h2>

<div ngbAccordion data-bs-theme="dark">
    <div ngbAccordionItem class="my-accordion-item">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Funciona para quem não sabe nada e está começando do zero?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>Com certeza. O nosso game também foi pensado para quem está iniciando, até porque temos varios alunos que alcançaram resultados começando do zero! Se você ainda não tem conhecimento, irá começar do jeito certo e já sair lucrando.</ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem class="my-accordion-item">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>É muito difícil?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Não. Quando criamos o game, nosso principal objetivo era criar algo que qualquer pessoa fosse capaz de joga-lo e ter resultados. Por isso nossa metodologia é diferente de qualquer outra que você já viu. Aprender não deve ser chato e difícil!</ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem class="my-accordion-item">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Tenho pouco tempo na minha agenda, ainda posso aprender?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Sim, nossa metodologia foi pensada pessoas que tem a agenda apertada. Você precisa jogar o jogo pelo menos 15 minutos diarios e já irá começar a ver os resultados. Agora se você não tem nem 15 minutos no dia para investir no seu futuro, esse jogo não é para você, recomendo que feche essa página agora</ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem class="my-accordion-item">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Para quem não é esse jogo?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Se você está procurando ganhar dinheiro de forma desonesta e uma formula "mágica" que vai te deixar milionario, esse jogo não é para você</ng-template>
          </div>
        </div>
      </div>
  </div>