<h4 class="faq-title">FAQ - Perguntas frequentes</h4>

<div ngbAccordion>
    <div ngbAccordionItem class="my-accordion-item">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Funciona para quem não sabe nada e está perdido em qual caminho seguir?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>Com certeza. Tudo foi pensado para quem está iniciando, até porque ajudamos varias pessoas a encontrarem um caminho começando do zero! Se você ainda não tem conhecimento do que quer para a vida, irá começar do jeito certo.</ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem class="my-accordion-item">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>É muito difícil?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Não. Quando criamos o Mapa do Sucesso, nosso principal objetivo era criar algo que qualquer pessoa fosse capaz de entender e ter resultados com esse mapa. Por isso nossa metodologia é diferente de qualquer outra que você já viu. Aprender não deve ser chato e difícil!</ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem class="my-accordion-item">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Tenho pouco tempo na minha agenda, ainda posso aprender?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Sim, nosso Mapa do Sucesso foi pensada pessoas que tem a agenda apertada. Você precisa apenas de 45 minutos para estudar o seu resultado completo. Agora se você não tem nem 45 minutos no dia para investir no seu futuro, esse jogo não é para você, recomendo que feche essa página agora.</ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem class="my-accordion-item">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Para quem não é o Mapa do Sucesso?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Se você está procurando um resultado raso sobre quem você é, esse Mapa do Sucesso não é para você</ng-template>
          </div>
        </div>
      </div>
  </div>