<h2>FAQ - Perguntas frequentes</h2>
<div ngbAccordion data-bs-theme="dark">
    <div ngbAccordionItem [collapsed]="true">
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Pergunta #1</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody class="accordion-body">
                <ng-template>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf
                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    Nihil anim
                    keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur
                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                    you probably
                    haven't heard of them accusamus labore sustainable VHS.
                </ng-template>
            </div>
        </div>
    </div>

    <div ngbAccordionItem [collapsed]="true">
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Pergunta #2</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody class="accordion-body">
                <ng-template>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf
                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    Nihil anim
                    keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur
                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                    you probably
                    haven't heard of them accusamus labore sustainable VHS.
                </ng-template>
            </div>
        </div>
    </div>

    <div ngbAccordionItem [collapsed]="true">
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Pergunta #3</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody class="accordion-body">
                <ng-template>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf
                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    Nihil anim
                    keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                    excepteur
                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                    you probably
                    haven't heard of them accusamus labore sustainable VHS.
                </ng-template>
            </div>
        </div>
    </div>
</div>