<img src="../../../assets/videos/background.gif" alt="gif" class="hero-video">
<div id="page-1" class="cv-page-1-container">
    <div class="cv-page-1">
        <h2>Empresas estão pagando até <span class="text-emphasis">10 mil reais</span> todos os meses para pessoas comuns com sua profissão digital!</h2>
        <h3>Sua profissão digital é <span class="text-emphasis">{{ profission }}.</span></h3>
        <!--
            <p>Quer descobrir como essas pessoas estão fazendo todo esse dinheiro sem sair de casa? Chame nosso mentor educacional no whatsapp e descubra como pessoas normais estão fazendo até 10.000 reais todos os meses jogando o Digital Boost.</p>
            <div id="button-zero" class="vsl-button-container">
                <button class="vsl-button">Chamar no WhatsApp <i class="bi bi-whatsapp"></i></button>
            </div>
        -->
        <div class="people-helped">O Digital Boost já ajudou <span class="text-emphasis">{{ peopleHelpedLocaleFormatted }}</span> pessoas esse mês</div>
    </div>
</div>