.hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.cv-page-1-container {
    height: calc(100vh - 65.58px);
}

.cv-page-1 {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 1rem;
    text-align: center;
}

.cv-page-1 h2 {
    font-size: 26px;
    margin-inline: auto;
}

.cv-page-1 h3 {
    font-size: 20px;
    margin-block: 30px;
}

.cv-page-1 p {
    margin-top: 24px;
}

.vsl-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    border: none;
    outline: none;
    border-radius: 8px;
    text-align: center;
    width: 22rem;
    height: 62px;
    padding-inline: 20px;
    box-shadow: var(--primary-color) 0px 5px 15px;
}

.text-emphasis {
    display: inline-flex;
    padding: 5px;
    background-color: var(--primary-color);
    color: white;
}

.bi-whatsapp {
    font-size: 26px;
    position: absolute;
    right: 20px;
}

#button-zero {
    margin-top: 32px;
}

.people-helped {
    margin-top: 30px;
    font-size: 20px;
}

.cv-page-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 1rem;
    text-align: center;
}

.copy-container {
    text-align: left !important;
}

.depoiments-container {
    text-align: left !important;
}

.depoiment-form-container {
    width: 90%;
    margin-top: 20px;
}

.faq-container {
    margin-top: 25px;
}

#button-one {
    margin-block: 32px;
}

@media only screen and (max-width: 424px) {
    .vsl-button {
        width: 18rem;
        padding-inline: 14px;
    }

    .bi-whatsapp {
        font-size: 22px;
    }
}