<img src="../../../assets/videos/background.gif" alt="gif" class="hero-video">
<div id="page-1" class="cv-page-1-container">
    <div class="cv-page-1">
        <h2>Descobrimos sua Profissão Digital Secreta!!</h2>
        <p>Para você conseguir a revelação secreta de sua profissão digital, você terá que nos chamar no whatsapp! Iremos revelar para você sua profissão digital personalizada, através dos 3 pilares que revelam como você irá fazer dinheiro sem sair de casa, sem aparecer  e ganhar no minimo R$3000.00 aplicando as técnicas!</p>
        <div id="button-zero" class="vsl-button-container">
            <button class="vsl-button">Revelar minha profissão digital <i class="bi bi-whatsapp"></i></button>
        </div>
        <div class="people-helped">Revelamos a profissão de <span class="text-emphasis">{{ peopleHelpedLocaleFormatted }}</span> pessoas esse mês</div>
    </div>
</div>
<div id="page-2" class="cv-page-2-container">
    <div class="cv-page-2">
        <div class="depoiments-container">
            <depoiments-component *ngFor="let depoiment of depoiments" [depoiment]="depoiment"></depoiments-component>
        </div>
        <div class="depoiment-form-container">
            <depoiment-form-component></depoiment-form-component>
        </div>
        <div id="button-one" class="vsl-button-container">
            <button class="vsl-button">Revelar minha profissão digital <i class="bi bi-whatsapp"></i></button>
        </div>
    </div>
</div>