<div #videoPlayer class="video-player">
    <div class="alternatives-1">
        <button (click)="resumeVideoAndHideQuestions('beginner')">Iniciante</button>
        <button (click)="resumeVideoAndHideQuestions('intermediary')">Médio</button>
        <button (click)="resumeVideoAndHideQuestions('advanced')">Avançado</button>
    </div>
    <video [playsInline]="true" #video>
        <source [src]="src" type="video/webm">
    </video>
    <div class="media-controls">
        <button [disabled]="!canPressPlayPauseBtn" #playPauseBtn class="play-pause-btn"></button>
        <button #volumeBtn class="volume-btn"></button>
    </div>
</div>