.loading-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-page h4 {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

.loading-page .progress-bar {
    position: relative;
}

.spinner-border {
    width: 8rem;
    height: 8rem;
}