<div class="loading-page">
    <h4>IA Calculando Resultados... {{ value }}%</h4>
    <div class="spinner-border text-primary" role="status"></div>
</div>

<div class="liberation hide">
  <h4>Existe uma revelação épica esperando por você!</h4>
  <h6>Preencha os dados a baixo que na página seguinte iremos liberar o acesso ao seu <b>Mapa do Sucesso</b>. Nesse mapa iremos fazer revelações sobre você que talvez nem mesmo você sabia sobre si, portanto é importante estar com a mente aberta para absorver todo o conhecimento.</h6>
  <div class="line-separator"></div>
  <form [formGroup]="liberationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input [class.is-invalid]="getName()?.invalid && getName()?.touched" type="text" class="form-control" id="input-name" placeholder="Nome Completo" formControlName="name">
        <div *ngIf="getName()?.invalid && getName()?.touched">
          <small *ngIf="getName()?.errors?.['required']" class="text-danger">Campo obrigatório</small>
          <small *ngIf="getName()?.errors?.['nameInvalid']" class="text-danger">Nome completo</small>
        </div>
      </div>
      <div class="form-group">
        <input [class.is-invalid]="getAge()?.invalid && getAge()?.touched" min="0" (input)="handleAgeInputData($event)" type="number" class="form-control" id="input-name" placeholder="Idade" formControlName="age">
        <div *ngIf="getAge()?.invalid && getAge()?.touched">
          <small *ngIf="getAge()?.errors?.['required']" class="text-danger">Campo obrigatório</small>
        </div>
      </div>
      <div class="form-group">
        <input [class.is-invalid]="getEmail()?.invalid && getEmail()?.touched" type="email" class="form-control" id="input-email" placeholder="Seu melhor email" formControlName="email">
        <div *ngIf="getEmail()?.invalid && getEmail()?.touched">
          <small *ngIf="getEmail()?.errors?.['required']" class="text-danger">Campo obrigatório</small>
          <small *ngIf="getEmail()?.errors?.['emailInvalid']" class="text-danger">Email inválido</small>
        </div>
      </div>
      <div class="form-group">
        <input [class.is-invalid]="getCellphoneNumber()?.invalid && getCellphoneNumber()?.touched" type="tel" class="form-control" id="input-cellphone-number" placeholder="WhatsApp" formControlName="cellphoneNumber" mask="(00) 00000-0000" [dropSpecialCharacters]="false">
        <div *ngIf="getCellphoneNumber()?.invalid && getCellphoneNumber()?.touched">
          <small *ngIf="getCellphoneNumber()?.errors?.['required']" class="text-danger">Campo obrigatório</small>
          <small *ngIf="getCellphoneNumber()?.errors?.['cellphoneInvalid']" class="text-danger">Telefone inválido</small>
        </div>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="input-terms" formControlName="terms">
        <label class="form-check-label form-text" for="input-terms">Estamos comprometidos em proteger sua privacidade e garantir uma experiência segura em nosso site. Ao concordar com nossa política de privacidade, você aceita receber contatos por meio de mensagens pelo WhatsApp e e-mails.</label>
      </div>
      <button [disabled]="liberationForm.invalid" type="submit" class="btn btn-primary">Liberar Acesso Grátis</button>
  </form>
</div>
