* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    width: 100%;
    height: 100%;
    --primary-color: #6A5BE2;
    --secondary-color: #ffffff;
} 

html {
    scroll-behavior: smooth;
}

body { 
    height: 100%;
    width: 100%;    
    margin: 0; 
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.text-emphasis {
    display: inline-flex;
    padding: 5px;
    background-color: var(--primary-color);
    color: white;
}