<div class="depoiment">
    <div class="line-1">
        <p class="name">{{ depoiment.name }}, {{ depoiment.age}}</p>
        <ngb-rating [rate]="depoiment.rate">
            <ng-template let-fill="fill" let-index="index">
                <i class="bi-star-fill" [ngClass]="fill === 100 ? 'filled' : 'not-filled'"></i>
            </ng-template>
        </ngb-rating>
    </div>
    <div class="line-2">
        <small class="depoiment-text">{{ depoiment.text }}</small>
    </div>
    <div class="line-3">
        <small class="quiz-date">{{ depoiment.quizDate }}</small>
        <small class="comment-date">{{ depoiment.commentDate }}</small>
    </div>
</div>