.depoiment {
    margin-top: 35px;
    width: 95%;
    border-radius: 8px;
    margin-inline: auto;
    padding: 5px;
    padding-bottom: 8px;
    position: relative;
}

.line-1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 5px;
}

.line-2 {
    margin-top: 20px;
}

.line-3 {
    margin-top: 20px;
}

i {
    font-size: 22px;
}

.filled {
    color: #fbbc04;
}

.not-filled {
    color: #dadce0;
}

.name {
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
}

.quiz-date, .comment-date {
    display: block;
    font-size: 12px;
    opacity: 0.7;
    margin: 4px 0;
}
